<!DOCTYPE html>
<html>
<body>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


{% extends "base.html" %}

{% block title %}
Add Health Data
{% endblock %}

{% block content %}

<h2>Add Health Data</h2>

<form method="POST">

    <input type="number" name="systolic" placeholder="Systolic" required>

    <input type="number" name="diastolic" placeholder="Diastolic" required>

    <input type="number" name="blood_sugar" placeholder="Blood Sugar" required>

    <input type="number" name="weight" placeholder="Weight" required>

    <input type="number" name="height" placeholder="Height" required>

    <button type="submit">Save</button>

</form>

{% endblock %}

<script>

document.getElementById("healthForm").addEventListener("submit", function(e) {
    e.preventDefault();

    const weight = parseFloat(document.getElementById("weight").value);
    const height = parseFloat(document.getElementById("height").value);

    const bmi = (weight / (height * height)) * 703;


    const data = {
        systolic: document.getElementById("systolic").value,
        diastolic: document.getElementById("diastolic").value,
        blood_sugar: document.getElementById("sugar").value,
        weight: weight,
        height: height,
        bmi: bmi.toFixed(2)
    };

    fetch('/add', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
	.then(res => res.json())
	.then(response => {
	    alert("Data added!");
	})
	.catch(error => {
	    console.error(error);
	    alert("Something went wrong");
	});


});

</script>



</body>
</html>
