<!DOCTYPE html>
<html>
<body>



<h3>Add Health Data</h3>

<form id="healthForm" style="margin-bottom: 40px;">
  <input type="number" id="systolic" placeholder="Systolic" required>
  <input type="number" id="diastolic" placeholder="Diastolic" required>
  <input type="number" id="sugar" placeholder="Blood Sugar" required>
  <input type="number" id="weight" placeholder="Weight (lbs)" required>
  <input type="number" id="height" placeholder="Height (inches)" required>
  <button type="submit">Submit</button>
</form>




</body>
</html>
