<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Health Monitor{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav class="navbar">

    <div class="nav-left">
        <a href="/">Home</a>


	{% if session.get('user_id') %}
	   <a href="/dashboard">Dashboard</a>
           <a href="/add-health">Add Health</a>
	{% endif %}

    </div>


   {% if session.get('user_id') %}

    <div class="profile-menu">

	<button class="profile-button" onclick="toggleProfile()">
   	        Profile 
	</button>

        <div id="profileDropdown" class="dropdown">

            <a href="/profile">
                Account
            </a>

            <a href="/change-password">
                Change Password
            </a>

            <a href="/logout">
                Logout
            </a>

        </div>

    </div>

    {% else %}

        <a href="/login">Login</a>

    {% endif %}


</nav>


<div class="container">

    {% block content %}
    {% endblock %}

</div>



<script>

function toggleProfile(){

    let menu = document.getElementById(
        "profileDropdown"
    );

    menu.style.display =
        menu.style.display === "block"
        ? "none"
        : "block";

}

</script>

</body>
</html>